<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.0" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net452" />
  <package id="Z.EntityFramework.Extensions" version="3.16.16" targetFramework="net46" />
</packages>